In [1]:
import os
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv("label_gan.txt", sep="\t", header=None)
classes = os.listdir('./output/')
df

                                                    0   1
0            ./data/dtd/images/banded/banded_0002.jpg   0
1            ./data/dtd/images/banded/banded_0004.jpg   0
2            ./data/dtd/images/banded/banded_0005.jpg   0
3            ./data/dtd/images/banded/banded_0006.jpg   0
4            ./data/dtd/images/banded/banded_0008.jpg   0
...                                               ...  ..
44294  ./data/dtd/images/zigzagged/zigzagged_0129.jpg  46
44295  ./data/dtd/images/zigzagged/zigzagged_0130.jpg  46
44296  ./data/dtd/images/zigzagged/zigzagged_0131.jpg  46
44297  ./data/dtd/images/zigzagged/zigzagged_0132.jpg  46
44298  ./data/dtd/images/zigzagged/zigzagged_0133.jpg  46

[44299 rows x 2 columns]

In [4]:
df_analysis = pd.DataFrame({'Class': classes,
                            'Number of Samples': df.iloc[:,1].value_counts(sort=False, normalize=False),
                            'Ratio of Samples': df.iloc[:,1].value_counts(sort=False, normalize=True)})
df_analysis.style.format({'Ratio of Samples': '{:,.2%}'.format})

In [6]:
df_analysis.to_csv("dataset_analysis.csv", index=False, sep=",")