In [7]:
import os
import pandas as pd
import numpy as np

In [13]:
df = pd.read_csv("label_origin.txt", sep="\t", header=None)
classes = os.listdir('./output/')
df

                                                       0   1
0      C:\Users\Erusea\JupyterLab\Graduation_Project\...   0
1      C:\Users\Erusea\JupyterLab\Graduation_Project\...   0
2      C:\Users\Erusea\JupyterLab\Graduation_Project\...   0
3      C:\Users\Erusea\JupyterLab\Graduation_Project\...   0
4      C:\Users\Erusea\JupyterLab\Graduation_Project\...   0
...                                                  ...  ..
22070  C:\Users\Erusea\JupyterLab\Graduation_Project\...  46
22071  C:\Users\Erusea\JupyterLab\Graduation_Project\...  46
22072  C:\Users\Erusea\JupyterLab\Graduation_Project\...  46
22073  C:\Users\Erusea\JupyterLab\Graduation_Project\...  46
22074  C:\Users\Erusea\JupyterLab\Graduation_Project\...  46

[22075 rows x 2 columns]

In [14]:
df_analysis = pd.DataFrame({'Number of Samples': df.iloc[:,1].value_counts(sort=False, normalize=False),
                            'Ratio of Samples': df.iloc[:,1].value_counts(sort=False, normalize=True)})
df_analysis.style.format({'Ratio of Samples': '{:,.2%}'.format})

In [15]:
df_analysis.to_csv("dataset_analysis.csv", index=False, sep=",")